{% extends "test_app/base.html" %}
{% load static %}
{% block content %}
<html>
    <body>
        <h1>About</h1>
        
        <h3>Our Purpose</h3>
        <img src = "{% static 'images/garvey.jpg' %}" alt="Garvey" width = "460" height = "345"/>
        <sub>John Garvey, not related to this assignment at all</sub>
        <p>Be honest, how many people do you know who likes waiting in line for hours? That is correct, nobody! 
            If you said yes, then you are lying. We intend on revolutionizing the mailroom service by making you know how many 
        people are in a line before you enter. </p>
        
        <h3>Our Promises</h3>
        <p>Our service is guaranteed to:</p>
        
        <small>1. Significantly reduce wait times in the Mailroom<br></small>
        <small>2. Will Smith will not attack you<br></small>
        <small>3. The new CUA dining facility's quick and timely completion<br></small>
        <small>4. No more detours from construction<br></small>
        <small>5. The pryz will actually serve good food<br></small>
        <small>6. No more rats in the pryz<br></small>
        <small>7. The POD will actually have the stuff that you need<br></small>
        <small>8. It's going to be called the POD agian (that name was so much better)<br><br></small>
        
        <p>Ok, so maybe those last few won't necessarily happen, but we can at least offer shorter wait times.</p>


        <h2>Our methods</h2>
        <p>I'd tell you, but then I'd have to kill you</p>

    </body>
<html>    
{% endblock content %}