{% extends "test_app/base.html" %}
{% load static %}
{% block content %}
<html>
    <body>
        <body
        <h1>About</h1>
        
        <h3>Our Purpose</h3>
        <img src = "{% static 'images/garvey.jpg' %}" alt="Garvey" width = "460" height = "345"/>
        <p>We keep the Catholic University community posted with 
            the most timely, accurate, data with regards to the post office in McMahon Hall 
        </p>
        <h1>Contact Us</h1>
        <h1>quinnmw@cua.edu</h1>
        <h1>attorri@cua.edu</h1>
        <h1>trapani@cua.edu</h1>
        <h1>https://www.instagram.com/catholicqueue/</h1>

    </body>
<html>    
{% endblock content %}