{% extends "test_app/base.html" %}
{% load static %}
{% block content %}
<html>
    <body>
        <body
        <h1>About</h1>
        
        <h3>Our Purpose</h3>
        <img src = "{% static 'images/mcmahon.jpg' %}" alt="McMahon" width = "400" height = "300"/>
        <br>
        <br>
        <p>
            We keep the Catholic University community posted with 
            the most timely, accurate, data with regards to the post office in McMahon Hall 
        </p>
        <p>
            This is a project for CSC 363, and the three of us are Computer Science students
            at the Junior Level
        </p>
        <h2>Contact Us</h2>
        <p>quinnmw@cua.edu</p>
        <p>attorri@cua.edu</p>
        <p>trapani@cua.edu</p>
        <p>Instagram : catholicqueue</p>

    </body>
<html>    
{% endblock content %}