{% extends "test_app/base.html" %}

{% block content %}

    <div class = "container">
        <h1>Show CUA Something:</h1>
        <input>
        <!--Image Upload-->
        <h2 class = "my-4">Add Image</h2>
        <form method = "post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type = "file" name = "upload" accept="image/*">
            <br>
            <button class="btn btn-dark my-4" type="submit">Submit</button>
        </form>
        <h2 class = "my-4">Recent Posts</h2>
        <div class = "row">
            {% if file_url %}
            <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
                <!--
                    <img src="{{ file_url }}" class="img-fluid">
                    Not sure which one is the one to use.
                -->
                <img src = "https://image.knowingkorea.org/img/image/00/01/61/c1613PNZ_o.jpg" class = "img-fluid">
                <br>
                <br>
                <a class="btn btn-dark my-4" href="/">Return to home</a>
            </div>    
            {% else %}
            <p>No Posts Yet</p>
            {% endif %}    
        </div>
        <br>
        <form action="/action_page.php">
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname" value="John"><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname" value="Doe"><br><br>
            <h2>Chat With Us</h2>
            <input type="text" , rows = "10" , colums="50">
            <input type="submit" value="Submit">
        </form>
    </div>


{% endblock %}