{% extends "test_app/base.html" %}
{% block content %}
<!-- <div class="jumbotron text-center">
    <h1>Catholic Queue</h1>
</div> -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2 style="text-align: center">The CUA Post Office is currently</h2>
    <!--{% if Hour.isClosed > 5 %}
        <h2>Closed</h2>
    {% endif %}-->
    <div class="text-center">
    {% if currentHour.lineLength >= 0 and currentHour.lineLength < 3 %}
        <h1 style="color:green">Basically Empty</h1>
    {% endif %}
    {% if currentHour.lineLength >= 3 and currentHour.lineLength < 5 %}
        <h1 style="color:yellow"></h1>Not That Busy</h1>
    {% endif %}
    {% if currentHour.lineLength >= 5 and currentHour.lineLength < 7 %}
        <h1 style="color:orange">Somewhat Busy</h1>
    {% endif %}
    {%  if currentHour.lineLength >= 7 and currentHour.lineLength < 10 %}
        <h1 style="color:red">Very Busy</h1>  
    {% endif %}
    {%  if currentHour.lineLength >= 10 %}
        <h1 style="color:darkred; font-weight: bold;">Absolutely Packed</h1>  
    {% endif %}

    <canvas>
        
    </canvas>
    </div>
{% endblock content %}