@media screen and (max-width: 481px) {
    #logo{
        width: 50%;
    }
}
#logo{
    font-family: "Amiri", Georgia, Times, "Times New Roman", serif;
    color: white;
    font-weight: 500;
    /* Changes text box size */
    line-height: 1.65;
}
#bodyContent{
    padding-top: 10px;
    background-color: whitesmoke;
}
#busyness{
    font-size: 50px;
    font-weight: bold;
    font-family: "Amiri", Georgia, Times, "Times New Roman", serif;
}
.button {
    color: #fff;
    text-align: center;
    display: inline-block;
    margin: 4px 5px;
    cursor: pointer;
    background-color: rgb(207, 13, 13);
    padding: .4em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    font-family: 'Amiri';
    font-size: 20px;
    text-decoration: none;
    border: none;
}
.button:hover {
    border: none;
    background: rgb(255, 0, 0);
    box-shadow: 0px 0px 1px #777;
}
.bg-faded{
    background-color:#990000;
}
/* hr {
    display: block;
    clear: both;
    height: 1px;
    border: 0;
    margin-top: 44px;
    margin-bottom: 44px;
    margin-left: -1.5%;
    width: 103%;
    border-top: 4px solid black;
  } */
hr {
    border:none;
    height: 20px;
    width: 90%;
    height: 50px;
    margin-top: 0;
    border-bottom: 2px solid #333;
    /* box-shadow: 0 20px 20px -20px #333; */
    margin: -50px auto 10px; 
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }